
<div class="container">
  <main class="main-content">
    <section class="add-product">
      <div class="container-logout">
        <button mat-raised-button color="primary" type="submit" class="full-width" (click)="logout()">Logout</button>
      </div>
      <h2>Adicionar Novo Produto</h2>
      <form (ngSubmit)="addProduct()">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="newProduct.name" name="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Descrição</mat-label>
          <input matInput [(ngModel)]="newProduct.description" name="description">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Preço</mat-label>
          <input matInput type="number" [(ngModel)]="newProduct.price" name="price" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Quantidade em Estoque</mat-label>
          <input matInput type="number" [(ngModel)]="newProduct.stock" name="stock" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" class="full-width">Adicionar</button>
      </form>
      <div *ngIf="isLoading" class="loading">Carregando...</div>
    </section>

    <section class="product-list">
      <h2>Lista de Produtos</h2>
      <div *ngFor="let product of products" class="product-card">
        <p><strong>Nome:</strong> {{ product.name }}</p>
        <p><strong>Descrição:</strong> {{ product.description || 'N/A' }}</p>
        <p><strong>Preço:</strong> {{ product.price | currency:'BRL' }}</p>
        <p><strong>Quantidade em Estoque:</strong> {{ product.stock }}</p>
        <button mat-icon-button color="warn" (click)="confirmDelete(product.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="editProduct(product)">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </section>
  </main>
</div>
